@{
    ViewBag.Title = "Acerca de Mi";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p>Lorem ipsum dolor sit amet consectetur adipiscing elit nullam, mauris viverra curabitur commodo netus pretium torquent, pulvinar dapibus tempus habitant ligula blandit leo. Elementum ac sapien ultrices dignissim phasellus taciti facilisis, semper habitasse ligula rutrum natoque at mus dui, egestas per feugiat dis nunc pulvinar. Pretium duis porttitor commodo feugiat ridiculus praesent, penatibus auctor eget tellus facilisis.</p>

<p>Sollicitudin integer duis fusce vulputate semper id malesuada cubilia, est mauris suscipit lacus nibh leo facilisi pellentesque, elementum mus tempus orci donec laoreet tincidunt. Ante et sapien ut ornare class ad hendrerit tristique conubia, lacus nam aenean nisi luctus mi fusce fames maecenas augue, praesent natoque nulla eleifend auctor vestibulum dapibus vitae. Sociis risus convallis cubilia odio pulvinar inceptos varius dui id nostra, laoreet ut sem metus arcu imperdiet taciti curabitur.</p>