@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Duran <br />
    Abel Gilber Poton<br />
    <abbr title="Phone">P:</abbr>
    +593985660495
</address>


<ul><li>Lorem ipsum dolor sit amet consectetur, adipiscing elit integer.</li> <li>Curae luctus cum donec, viverra pretium eleifend elementum, phasellus duis.</li></ul>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">micorreo@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">micorreo@gmail.com</a>
</address>